body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
  }

a {
  text-decoration: none;
  }

.header {
  background-color: #f4f8fa;
}

.top-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
  background-color: rgba(204, 51, 51, 0.5);
}

.logo:active {
  background-color: rgba(204, 51, 51, 0.5);
}

.top-header .logo {
  font-size: 24px;
  line-height: 24px;
}

.top-header input[type="search"] {
  font: inherit;
  color: #ffffff;
  background-color: #293449;
}

.top-header input[type="search"]:hover {
  background-color: #212a3a;
}

.top-header input[type="search"]:focus {
  color: #000000;
  background-color: #ffffff;
}

.top-header-link {
  color: #ffffff;
}

.top-header-link:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.top-header-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.order {
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover {
  color: #ffffff;
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.main-header {
  background-color: #f4f8fa;
}

.about-shop {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.common-information {
  width: 270px;
  height: 45px;
  text-align: center;
  list-style: none;
}

.telephone {
  padding: 12px;
  font-size: 21px;
  line-height: 22px;
  color: #ee3643;
  border: 2px solid #feffff;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.entrance-registration {
  list-style: none;
}

.login-link {
  font-size: 21px;
  line-height: 22px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

.login-link:hover {
  color: #ee3643;
}

.login-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user {
  list-style: none;
}

.name-user {
  font-size: 21px;
  line-height: auto;
  color: #000000;
  background-color: #ffffff;
}

.name-user:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-link {
  font-size: 16px;
  line-height: auto;
  color: #32425c;
  text-decoration: underline;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation {
  list-style: none;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  }

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(29, 39, 57, 0.5);
}

.container {
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item-orange {
  background-color: #ffbf47;
}

.catalog-item-blue {
  background-color: #3bbce3;
}

.catalog-item-fucsia {
  background-color: #dc91d8;
}

.catalog-item-green {
  background-color: #8ed78f;
}

.catalog-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.catalog-item a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.catalog-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-slider {
  height: 266px;
  background-color: #9d9792;
  background-position: center;
  background-repeat: no-repeat;
}

.perforators {
  background-image: (url"img/slide-1.jpg");
}

.drills {
  background-image: (url"img/slide-2.jpg");
}

.main-slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.main-slider p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: auto;
  font-weight: normal;
}

.main-slider a {
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.main-slider a:hover {
  background-color: #ca2c37;
}

.main-slider a:active {
  background-color: #ba2732;
}

.slides-switches {
  list-style: none;
}

.main-slider-button {
  background-color: transparent;
  border: none;
}

.slides-switches .slide-btn {
  background-color: #ffffff;
  }

.section-header {
  background-color: #f9f5f0;
}

.section-headline {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.cards-wrapper {
  list-style: none;
}

.section-header a,
.company-contacts a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.card h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.card-old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
}

.card-price {
  width: 141px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
}

.producers {
  list-style: none;
}

.services {
  background-color: #f4f8fa;
}

.services-headline,
.company-headline {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  }

.services p,
.company-contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

.services-slide-toggles,
.services-slides {
  list-style: none;
}

.services-slide-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-slide-toggle {
  font-size: 21px;
  line-height: auto;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c; 32425c
}

.services-slide-toggle:hover {
  background-color: #293449;
}

.services-slide-toggle:active {
  color: #32425c;

  background-color: #ffffff;
}

.services-slides a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.special-transport {
  list-style: none;
}

.company-name {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: capitalize;
}

.contacts .small-map {
  background-color: #ffffff;
}

.contacts .buttons {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

/*ЗДЕСЬ НАЧИНАЕТСЯ РАЗМЕТКА СТРАНИЦЫ КАТАЛОГА*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.container .title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
  border-bottom: 1px solid #f7f3ec;
}

.no-border-fieldset {
  border-bottom: none;
}

.filters legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-price {
  background-color: #f7f3ec;
  cursor: pointer;
}

.output-area {
    background-color: #ffffff;
}

.filter-show {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  list-style: none;
}

.price-show {
  background-color: #f7f3ec;
}

.filter-producers,
.filter-inner {
  list-style: none;
}

.filter-option {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.filters button {
  width: 140px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #f7f3ec;
}

.sort-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sort-points {
  list-style: none;
}

.sort-point {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dashed #ee3643;
}

.sort-point:hover {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #ee3643;
}

.sort-point:active {
  color: #ee3643;
  border-bottom: none;
  }

.sort-point-increase,
.sort-point-dicrease {
  color: #c5c5c5;
}

.sort-point-increase:hover,
.sort-point-dicrease:hover {
  color: #231f20;
}

.sort-point-increase:active,
.sort-point-dicrease:active {
  color: #ee3643;
}

.button-buy {
  width: 135px;
  height: 38px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  background-color: #63a63e;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-later {
  width: 135px;
  height: 38px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  border: 3px solid #518534;

  background-color: #ffffff;
  }

.button-later:hover {
  border: 3px solid #32425c;
}

.button-later:active {
   color: rgba(50, 66, 92, 0.3);
   border: 2px solid rgba(50, 66, 92, 0.3);
}

.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: auto;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-item:hover {
  text-decoration: none;
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
  }

.about {
  background-color: #f4f8fa;
}

.about-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.about p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}

.main-footer {
  background-color: #32425c;
}

.main-footer .logo {
  width: 220px;
  height: 68px:
  font-size: 30px;
  line-height: 30px;
}

.footer-menu {
  list-style: none;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-menu a:hover {
  color: #f1f5f7;
  text-decoration: none;
  border-bottom: 2px solid #f1f5f7;

  background-color: #32425c;
}

.footer-menu a:active {
  color: rgba(251, 245, 247, 0.5);
  text-decoration: none;
  border-bottom: none;

  background-color: rgba(50, 66, 92, 0.5);
}

.footer-menu-bottom a {
  color: #ffd180;

  background-color: #32425c;
}

.footer-menu-bottom a:hover {
  color: #ffd180;
  text-decoration: none;
  border-bottom: 2px solid #ffd180;
}

.footer-menu-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
  border-bottom: none;
}

.bottom-footer {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.bottom-footer a {
  color: #ffd180;
}

.footer-social {
  list-style: none;
}

.feedback a:hover {
  color: #ffd180;
  text-decoration: none;
  border-bottom: 2px solid #ffd180;
}

.feedback a:active {
  color: #ee3643;
  border-bottom: none;
}

.footer-copyright a:hover {
  color: #ffd180;
  text-decoration: none;
  border-bottom: 2px solid #ffd180;
}

.footer-copyright a:active {
  color: #ee3643;
  border-bottom: none;
}

.modal-write-us {
  background-color: #ffffff;
}

.modal-close {
  color: #ee3643;
  background: transparent;
  border: none;
}

.write-us-form p {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-us-form input[type="text"],
.write-us-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #a9a9a9;
}

.write-us-wrapper {
  background-color: #f4f4f4;
}

.write-us-form button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.modal-message {
  background-color: #ffffff;
}

.modal-message p {
  font-family: inherit;
  font-size: 30px;
  line-height: 32px;
  color: #000000;
}

.modal-message-buttons {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f4f4f4;
}

.buy-now {
  width: 220px;
  height: 38px;
  color: #ffffff;
  
  background-color: #ee3643;
}

.buy-later {
  width: 220px;
  height: 38px;
  color: #000000;
  border: none;

  background-color: #ffffff;
}
