body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #293449;
  }

a {
  text-decoration: none;
  }

.header {
    background-color: #f4f8fa;
}

.top-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-header .logo {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.top-header .logo:hover,
.top-header .logo:focus {
  background-color: #ca2c37;
}

.top-header .logo:active {
  background-color: rgba(186, 39, 50, 0.3);
} 

.top-header input {
  font: inherit;
  color: #ffffff;
  background-color: #293449;
}

.top-header input:focus {
  color: #000000;
  background-color: #ffffff;
}

.add-form {
  color: #ffffff;
  background-color: #293449;
}

.add-form:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.add-form:active {
  color: #ffffff;
  background-color: #161d29;
}

.order,
.order:focus {
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover {
  color: #ffffff;
  background-color: #5fbb2d;
}

.order:active {
  color: #ffffff;
  background-color: #518534;
}
.main-header {
  background-color: #f4f8fa;
}

.common-information,
.entrance-registration,
.user,
.site-navigation {
  list-style: none;
}

.main-header .about-shop {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.common-information {
  width: 270px;
  height: 45px;
  text-align: center;
}

.telephone {
  padding: 12px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px; /**/
  font-weight: normal;
  color: #ee3643;
  border: 2px solid #feffff;
}

.address {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #32425c;
  }

.login-link a, /*нужны комментарии*/
.registration a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px; /**/
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

.login-link a:hover,/*нужны комментарии*/
.login-link a:focus,
.registration a:hover,
.registration a:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px; /**/
  font-weight: normal;
  color: #ee3643;

  background-color: #ffffff;
}

.entrance-registration a:active {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px; /**/
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
/*здесь еще есть прозрачность - нужен серый цвет шрифта при клике!!! каков %?*/
  background-color: #ffffff;
}

.icon, 
.name-user {
  background-color: #ffffff;
}

.name-user a,
.name-user a:hover,
.name-user a:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: auto;
  font-weight: normal;
  color: #000000;
  }

.name-user a:active {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: auto;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  }

.user-link a { /*link пока оставила до устных комментариев*/
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: auto;
  font-weight: normal;
  color: #32425c;
  text-decoration: underline;
}

.user-link a:hover,
.user-link a:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: auto;
  font-weight: normal;
  color: #ee3643;
  text-decoration: underline;
}

.user-link a:active {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: auto;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline; 
}

.main-navigation {
    background-color: #32425c;
  /*здесь в ФШ какая-то внутренняя тень и иной цвет-color overlay - эффект есть*/
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  /*здесь в ФШ какая-то внутренняя тень и иной цвет-color overlay - эффект есть*/
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #ffffff;
  background-color: #293449;
}

.main-navigation a:active {
  color: #ffffff;
  background-color: rgba(29, 39, 57, 0.5);;
}

.container {
  background-color: #ffffff;
}

.catalog-list,
.slides-switches,
.cards-wrapper,
.producers,
.services-slide-toggles,
.services-slides,
.special-transport,
.filter-show,
.filter-sort-points {
  list-style: none;
}

.catalog-item-orange {
  background-color: #ffbf47;
}

.catalog-item-blue {
  background-color: #3bbce3;
}

.catalog-item-fucsia {
  background-color: #dc91d8;
}

.catalog-item-green {
  background-color: #8ed78f;
}

.catalog-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase; /*ЗАДАТЬ на КАРТОЧКи-разделы прозрачно-черный фон */

  background-color: #000000;
}

/*НОВЬЕ*/
.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffffff;
  /*ЗАДАТЬ на КАРТОЧКи-разделы прозрачно-черный фон */
  background-color: #000000;
}

/*НОВЬЕ*/
.catalog-item a:active {
  color: #ffffff;
  /*ЗАДАТЬ на КАРТОЧКи-разделы прозрачно-черный фон */
  background-color: #000000;
}

.main-slider {
  background-color: #9d9792;
}

.main-slider h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px; /**/
  font-weight: bold;
  color: #ffffff;
}

.main-slider p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
}

.main-slider a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: auto;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.main-slider a:hover,
.main-slider a:focus {
  background-color: #ca2c37;
}
/*выделила фон в одном общем классе, а далее - почему один класс? картинки же разные.*/
.main-slider a:active {
  background-color: #ba2732;
}

.main-slide-first {
  background-image: url("img/slide-1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main-slide-second {
  background-image: url("img/slide-2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main-slider-button {
  background-color: transparent;
  border: none;
}

.slides-switches .slide-btn {
  background-color: #ffffff;
  } /*здесь уточнить отображение:цвет декоративных радиокнопок*/

.section-header {
  background-color: #f9f5f0;
}

.popular-goods .section-headline,
.popular-producers .section-headline {
  font-family: "Cuprum Regular", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.section-header a,
.company-contacts a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

 background-color: #ee3643;
}

.card h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.card-old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
  text-decoration: line-through;
}

.card-price {
  width: 141px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
}

.services {
  background-color: #f4f8fa;
}

.services-headline,
.company-headline {
    /*ПАРАМЕТРЫ ТЕКСТА на глаз, т.к. в ФШ это один слой без параметров текста!!!!!*/
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  }

.services p,
.company-contacts p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #000000;
}

.services-slide-toggles {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: auto;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
}

.services-slide-toggles:hover {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: auto;
  font-weight: bold;
  color: #ffffff;

  background-color: #293449;
}

.services-slide-toggles:active,
.services-slide-toggles:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: auto;
  font-weight: bold;
  color: #32425c;

  background-color: #ffffff;
}

.services-slides a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.special-transport li::before {
  content: "- ";
  color: #ee3643;
}

.company-name {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: capitalize;
}

.contacts .small-map {
  background-color: #ffffff; 
}

.contacts .buttons {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

/*ЗДЕСЬ НАЧИНАЕТСЯ РАЗМЕТКА СТРАНИЦЫ КАТАЛОГА*/
.breadcrumbs { 
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li:last-child,
.filters .filters-title,
.sort .sort-title { 
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.container .title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters .filters-title,
.sort .sort-title {
  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
  border-bottom: 1px solid #f7f3ec;
}

.filters fieldset:last-child {
  border-bottom: none;
}

.filters legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-price {
  background-color: #f7f3ec;
}

.output-area {
    background-color: #ffffff;
}

.price-show {
  background-color: #f7f3ec;
}

.filter-show {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
}

fieldset .filter-producers,
fieldset .filter-inner {
  list-style: none;
  }

fieldset .filter-option {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.filters button {
  width: 140px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #f7f3ec;
}

.filter-sort-points a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000; /*ЗДЕСЬ ЕСТЬ ПРОЗРАЧНОСТЬ 30% - как задать?*/
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dashed #ee3643;
}

.filter-sort-points a:hover,
.filter-sort-points a:focus {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #ee3643;
}

.filter-sort-points a:active {
  color: #ee3643;
  border-bottom: none;
  }

.button-buy {
  width: 135px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: auto; /*ИЛИ ЗДЕСЬ СДЕЛАТЬ КАК В КАТАЛОГЕ 18px&&&*/
  font-weight: normal;  
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  background-color: #63a63e;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-later {
  width: 135px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: auto; /*ИЛИ ЗДЕСЬ СДЕЛАТЬ КАК В КАТАЛОГЕ 18px&&&*/
  font-weight: normal;  
  color: #32425c;
  text-transform: uppercase;
  border: 3px solid #518534;

  background-color: #ffffff;
  }

.button-later:hover,
.button-later:focus {
  border: 3px solid #32425c;
}

.button-later:active {
   color: rgba(50, 66, 92, 0.3);
   border: 2px solid rgba(50, 66, 92, 0.3); 
}

.about {
  background-color: #f4f8fa;
}

.about .about-title {
/*ПАРАМЕТРЫ ТЕКСТА на глаз, т.к. в ФШ это один слой без параметров текста!!!!!*/
font-family: "Cuprum", "Arial", sans-serif;
font-size: 30px;
line-height: 30px;
font-weight: normal;    
color: #000000;
text-transform: uppercase;
}

.about p {
font-family: "Cuprum", "Arial", sans-serif;
font-size: 14px;
line-height: 22px;
font-weight: normal;    
color: #000000;
}

.pagination-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: auto;
  font-weight: normal;  
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}

.pagination-list .pagination-item-current a { /*так делают или иначе текущую страницу?*/
  background-color: #ee3643;
}
.pagination-list a:hover,
.pagination-list a:focus {
  text-decoration: none;
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
  }

.main-footer {
  background-color: #32425c;
}

.footer-menu {
  list-style: none;
}

.main-footer .logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ec2c19; /*здесь какое-то наложение 2-х цветов и тень. как добавить? - два фона разных цветов сделать + фон???*/;
}

.main-footer .logo:hover,
.main-footer .logo:focus {
  background-color: #ca2c37;
}

.main-footer .logo:active {
  background-color: rgba(186, 39, 50, 0.3);
} 

.footer-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-menu a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-menu a:hover,
.footer-menu a:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #f1f5f7;
  text-decoration: none;
  border-bottom: 2px solid #f1f5f7;

  background-color: #32425c;
}

.footer-menu a:active {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #f1f5f7; /*НОВЬЕ: уточни, что здесь прозрачно - текст/фон?*/
  /*ПОЧЕМУ не удирается черта при клике?*/
  border-bottom: none;

  background-color: rgba(50, 66, 92, 0.5);
} 

.footer-menu-bottom a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffd180;

  background-color: #32425c;
}

.footer-menu-bottom a:hover,
.footer-menu-bottom a:focus {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffd180;
  text-decoration: none;
  border-bottom: 2px solid #ffd180;

  background-color: #32425c;
}

.footer-menu .footer-menu-bottom a:active {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffd180;
/*УТОЧНИ ПРОЗРАЧНОСТЬ у ЦВЕТА или ФОНА. ЕСЛИ ФОНА - почему в реальности не появляется?*/
  background-color: rgba(50, 66, 92, 0.5); 
}

.bottom-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;

  background-color: #293449;
}

.bottom-footer a {
    color: #ffd180;
}

.footer-social {
  list-style: none;
}

.feedback a:hover,
.feedback a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    color: #ffd180;
    text-decoration: none;
    border-bottom: 2px solid #ffd180;
}

.feedback a:active,
.footer-copyright a:active {
    color: #ee3643;
    border-bottom: none;
}

.modal-write-us {
  background-color: #ffffff;
}

.modal-close {
  color: #ee3643;
  background: transparent;
  block: none;
}

.write-us-form p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  }

.write-us-form input,
.write-us-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #a9a9a9;
}

.write-us-wrapper {
  background-color: #f4f4f4;
}

.write-us-form button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.modal-message {
  background-color: #ffffff;
}

.modal-message p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
}

.modal-message p:last-child {
  background-color: #f4f4f4;
}

.modal-button:first-child {
  width: 220px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.modal-button:last-child {
  width: 220px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
